@model IEnumerable<UnitedCalendar.Models.Disciplina>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a clas="btn  btn-info"asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraComeco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraComeco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Nome)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdDisciplina">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdDisciplina">Details</a> |
                <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.IdDisciplina">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
