@model IEnumerable<UnitedCalendar.Models.AtividadeExtra>

@{
    ViewData["Title"] = "Atividades Extra";
}

<h1>Atividades Extra do Utilizador: @ViewBag.nome</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraComeco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraTermino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraComeco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraTermino)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdAtividadeExtra">Edit</a> |
                <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.IdAtividadeExtra">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
